* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.experience {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.experience-title {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 30px;
}
.experience-title::-webkit-scrollbar {
  display: none;
}

.experience-link:last-child {
  padding-right: 30px;
}

.experience-link {
  flex-shrink: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: rgb(179, 179, 186);
  text-decoration: none;
}
.experience-link-active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience-link:hover {
  color: rgb(240, 20, 90);
}

.experience-content {
  padding-right: 30px;
}
.experience-content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 30px;
}
.experience-content p {
  margin: 0;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.experience-separator {
  height: 4px;
  border: none;
  width: calc(100% - 30px);
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .experience {
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .experience-link {
    font-size: 38px;
  }
  .experience-link:last-child {
    padding-right: 60px;
  }
  .experience-content {
    padding-right: 60px;
  }
  .experience-content h3 {
    margin-top: 60px;
    font-size: 30px;
  }
  .experience-title {
    padding-bottom: 60px;
  }
  .experience-separator {
    width: calc(100% - 60px);
    margin-right: 60px;
  }
}
@media (min-width: 1024px) {
  .experience {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
  }
  .experience-title {
    flex-direction: column;
    width: 100%;
  }
  .experience-separator {
    width: 4px;
    height: 303px;
    text-align: center;
    margin-left: 60px;
  }
  .experience-content {
    padding-right: 0;
    width: 100%;
    align-self: center;
  }
  .experience-content h3 {
    margin-top: 0;
  }
  .experience-link:last-child {
    padding-right: 0;
  }
  .experience-link {
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .experience-title {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .experience {
    padding-left: 0;
    padding-right: 0;
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }
}
.wrapper-advantage {
  padding-left: 30px;
  padding-right: 30px;
}

.top-inform {
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border: 1px solid transparent;
  border-radius: 0 0 12px 12px;
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 52px;
}

.top-inform::before {
  content: "";
  height: 10px;
  background-color: rgb(202, 202, 219);
  position: absolute;
  bottom: -11px;
  left: 20px;
  right: 20px;
  border-radius: 0 0 12px 12px;
}

.top-inform::after {
  content: "";
  height: 10px;
  background-color: rgb(231, 231, 242);
  position: absolute;
  bottom: -21px;
  left: 40px;
  right: 40px;
  border-radius: 0 0 12px 12px;
}

.titleColor {
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titleColor-advantage {
  margin: 10px 0 30px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
}

.services {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  color: rgb(36, 163, 255);
  letter-spacing: 1px;
  text-decoration: none;
}

.services::after {
  content: url(../images/img1.png);
}

.services:hover {
  color: rgb(240, 20, 90);
}

.services:hover::after {
  content: url(../images/img8.png);
}

.imgBlock {
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  display: inline-block;
}
.imgBlock img {
  padding: 14px;
}

.advantageTitle {
  color: rgb(36, 163, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
}

.advantageText {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  margin: 0;
}

@media (min-width: 375px) {
  .preference {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (min-width: 768px) {
  .wrapper-advantage {
    padding-left: 60px;
    padding-right: 60px;
  }
  .preference {
    flex-direction: row;
    column-gap: 60px;
    row-gap: 60px;
    flex-wrap: wrap;
  }
  .advantage {
    width: calc(50% - 30px);
  }
  .titleColor-advantage {
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .advantage {
    width: calc(32% - 30px);
  }
}
@media (min-width: 1920px) {
  .wrapper-advantage {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.title-trust {
  font-size: 14px;
  font-weight: 700;
  color: rgb(50, 50, 100);
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.companies {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.company:nth-child(1) {
  background-color: rgb(28, 66, 128);
}

.company:nth-child(2) {
  background-color: rgb(20, 54, 70);
}

.company:nth-child(3) {
  background-color: rgb(244, 139, 48);
}

.company:nth-child(4) {
  background-color: rgb(158, 77, 195);
}

.company:nth-child(5) {
  background-color: rgb(253, 147, 57);
}

.company:nth-child(6) {
  background-color: rgb(226, 226, 228);
}

.company:nth-child(7) {
  background-color: rgb(199, 28, 54);
}

.company:nth-child(8) {
  background-color: rgb(220, 243, 249);
}

.company:nth-child(9) {
  background-color: rgb(234, 234, 234);
}

.company:nth-child(10) {
  background-color: rgb(40, 34, 64);
}

.company:nth-child(11) {
  background-color: rgb(29, 69, 104);
}

.company:nth-child(12) {
  background-color: rgb(0, 0, 0);
}

.company-visibility {
  display: none;
}

@media (min-width: 768px) {
  .companies {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .company-visibility {
    display: inline-block;
  }
  .company {
    flex-grow: 1;
  }
}
@media (min-width: 1024px) {
  .company {
    width: 25%;
  }
}
@media (min-width: 1920px) {
  .companies {
    width: 1720px;
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
  }
  .companies-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
.slider-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.slide {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgb(245, 245, 250);
}
.slide img {
  height: 500px;
  object-fit: cover;
}

.slide-link {
  font-weight: 700;
  line-height: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(36, 163, 255);
  text-decoration: none;
  padding-bottom: 5px;
}
.slide-link::after {
  content: url(../images/img4.png);
  padding-left: 2px;
}

.slide-text {
  font-weight: 700;
  line-height: 100%;
  font-size: 30px;
  margin: 0;
}

.slide-author {
  font-weight: 700;
  line-height: 100%;
  font-size: 16px;
  color: rgb(179, 179, 186);
  margin: 0;
  padding-top: 30px;
  padding-bottom: 6px;
}

.slide-author + p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(179, 179, 186);
  margin: 0;
}

.slide-content {
  padding: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-top: 30px;
}

.slider-pagination {
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 25px;
  background-color: rgba(36, 163, 255, 0.2);
}
.slider-pagination-active {
  background-color: rgb(36, 163, 255);
}

@media (min-width: 768px) {
  .slide-text {
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .slide {
    flex-direction: row;
  }
  .slide img {
    width: 400px;
    height: 528px;
  }
}
@media (min-width: 1440px) {
  .slide img {
    height: 344px;
  }
}
@media (min-width: 1920px) {
  .slider-wrapper {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.wrapper-publications {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  background-color: rgb(245, 245, 250);
}

.publications {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(400px, auto));
  gap: 30px;
}
.publications-title {
  margin-top: 5px;
  margin-bottom: 30px;
}

.publication {
  text-decoration: none;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}
.publication img {
  display: block;
  width: 100%;
  height: 315px;
  object-fit: cover;
}

.publication-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}
.publication-content hr {
  height: 4px;
  width: 100%;
  background-color: rgb(230, 230, 240);
  border: none;
  margin: 0;
}

.card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: rgb(36, 163, 255);
  margin: 0;
}

.card-date {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(179, 179, 186);
}

.card-content {
  font-weight: 4700;
  font-size: 14px;
  line-height: 22px;
  color: rgb(0, 0, 0);
  margin: 0;
}

@media (min-width: 768px) {
  .publications {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(400px, auto));
  }
  .publication:nth-child(3) {
    grid-column: 1/-1;
  }
  .publications-title {
    margin-top: 10px;
  }
}
@media (min-width: 1024px) {
  .publications {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(400px, auto);
  }
  .publication:nth-child(3) {
    grid-column: 3/4;
  }
}
@media (min-width: 1920px) {
  .wrapper-publications {
    width: 1600px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.header {
  height: 100vh;
}
.header-image {
  background-image: url(../images/img9.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.header-contact-mobile {
  background-color: rgba(245, 245, 250, 0.2);
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}
.header-tel-mobile {
  font-weight: 700;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header-menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.header-logo-mobile {
  width: 70px;
  height: 32px;
}
.header-hamburher-mobile {
  width: 32px;
  height: 32px;
}
.header-hamburher-mobile-button {
  background-color: transparent;
  border: transparent;
}
.header-block-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  align-items: center;
}
.header-button-mobile {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  background-image: url(../images/img10.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header-title-mobile {
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  color: rgb(255, 255, 255);
  margin: 0;
  width: 315px;
}

.header-button-mobile:hover {
  border: 2px solid rgb(240, 20, 90);
  background-image: url(../images/img11.png);
  background-repeat: no-repeat;
  background-position: center;
}

.lang-mobile {
  width: 33px;
  height: 25px;
  border-radius: 8px;
  background-color: transparent;
  border: transparent;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}
.lang-mobile-active {
  background-color: rgb(240, 20, 90);
}

@media (max-width: 768px) {
  .header-container, .header-content {
    display: none;
  }
  .header-menu-window {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(50, 50, 100);
    display: none;
  }
  .header-form {
    width: 360px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 64px 12px 15px 12px;
    border-radius: 12px 12px 0 0;
  }
  .header-form-button {
    width: 335px;
    height: 43px;
    background-color: rgb(245, 245, 250);
    text-align: center;
    padding-top: 7px;
    border-radius: 12px;
  }
  .header-form-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    color: rgb(36, 163, 255);
  }
  .header-button-close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: transparent;
    margin-top: 12px;
    margin-right: 12px;
  }
}
@media (min-width: 768px) {
  .header-image {
    background-size: contain;
  }
  .header-contact-mobile, .header-block-mobile, .header-menu-mobile, .header-menu-window {
    display: none;
  }
  .header-block-contacts {
    display: flex;
    align-items: center;
  }
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    align-items: center;
  }
  .header-button-lang {
    width: 33px;
    height: 25px;
    border-radius: 8px;
    background-color: transparent;
    border: transparent;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .header-button-lang-active {
    background-color: rgb(240, 20, 90);
  }
  .header-address {
    font-weight: 400;
    font-size: 16px;
    color: rgb(179, 179, 186);
    margin-top: 0;
    margin-bottom: 0;
  }
  .header-tel {
    font-weight: 700;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .header-point::after {
    content: url(../images/img13.png);
    padding-left: 6px;
    padding-right: 6px;
  }
  .header-menu {
    font-weight: 700;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 15px;
  }
  .header-menu:last-child {
    padding-right: 0;
  }
  .header-section {
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .header-title {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    color: rgb(255, 255, 255);
    margin: 0;
  }
  .header-button {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    background-image: url(../images/img10.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .header-button:hover {
    border: 2px solid rgb(240, 20, 90);
    background-image: url(../images/img11.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .header-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .header-block:nth-child(1) {
    grid-column: 2/-1;
    grid-row: 1/2;
    text-align: right;
  }
  .header-block:nth-child(2) {
    grid-row: 1/3;
  }
  .header-block:nth-child(3) {
    text-align: right;
    grid-column: 2/-1;
    grid-row: 2/3;
  }
  .header-block-contacts {
    justify-content: flex-end;
  }
  .header-content {
    height: 75vh;
  }
}
@media (min-width: 1440px) {
  .header-content {
    height: 80vh;
  }
}
@media (min-width: 1920px) {
  .header-content {
    height: 85vh;
  }
  .header-section {
    padding-left: 160px;
    padding-right: 160px;
  }
}
footer {
  background-color: rgb(245, 245, 250);
}

.footer-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.foter-line {
  width: 100%;
  height: 2px;
  background-color: rgb(230, 230, 240);
  border: transparent;
}

.foter-separator {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-address {
  font-weight: 400;
  font-size: 16px;
  color: rgb(50, 50, 100);
  margin: 0;
}

.footer-map {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(36, 163, 255);
  text-decoration: none;
}

.footer-facebook {
  width: 38px;
}

.footer-tel {
  font-weight: 700;
  font-size: 16px;
  color: rgb(70, 70, 110);
  text-decoration: none;
}

.footer-block:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer-mail {
  font-weight: 700;
  font-size: 16px;
  color: rgb(36, 163, 255);
  text-decoration: none;
}

.footer-info {
  font-weight: 400;
  font-size: 16px;
  color: rgb(179, 179, 186);
}

@media (min-width: 768px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-block:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
    flex-direction: row;
  }
  .footer-block:nth-child(2) {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
  }
  .footer-block:nth-child(3) {
    grid-column: 3/-1;
    grid-row: 1/2;
    align-items: end;
  }
  .footer-point::before {
    content: url(../images/img14.png);
    padding-right: 10px;
  }
}
@media (min-width: 1920px) {
  .footer-wrapper {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
